APP_NAME="Benfords Law"
APP_ENV=local
APP_KEY=base64:Efh1BTuMNxMIlGeF0YLwq4lZPAD5lFX4bpja5Esn9L0=
APP_DEBUG=true
APP_URL=http://localhost

LOG_CHANNEL=stack
LOG_DEPRECATIONS_CHANNEL=null
LOG_LEVEL=debug

BROADCAST_DRIVER=log
CACHE_DRIVER=file
FILESYSTEM_DISK=local
QUEUE_CONNECTION=sync
SESSION_DRIVER=file
SESSION_LIFETIME=120

WWWGROUP=1000
WWWUSER=1000
